html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Body Style for Pages */
#index {
  background-color: black;
}

.container {
  background-image: url("image3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 50px;
  background-color: black;
}
#about {
  background-image: url("image3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
}
#contact {
  background-color: black;
}

/* CAROUSEL */

.carousel {
  height: 80%;
  /*opacity: 0;*/
  margin-top: 100px;
  width: 100%;
}

.carousel h1 {
  color: white;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  margin-top: 200px;
}
iframe {
  margin-top: 50px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.carousel-inner {
  height: 100%;
}

.carousel-caption {
  text-align: right;
  color: rgb(3, 3, 126);
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
}

/*.carousel-inner .active {
  opacity: 0.98;
}*/

#scroll-button {
  width: 6rem;
  height: 6rem;
  background-color: black;
  border-radius: 50%;
  position: relative;
  left: 175rem;
  bottom: 10rem;
  animation: pulse 1s linear infinite;
}
/* CAROUSEL BUTTON */
/* About Me Page */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  width: 100%;
}

#about-image {
  background-color: black;
  box-shadow: 10px 10px 5px grey;
  margin-bottom: 5%;
}

#about-me {
  padding-left: 2rem;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-image: linear-gradient(45deg, white, slategray);
  color: black;
  font-size: 1.5rem;
  border-radius: 30px;
  font-family: "Permanent Marker", cursive;
  box-shadow: 10px 10px 5px grey;
  width: 75%;
  height: auto;
}

/* Testimonials Page */

.gtco-testimonials {
  position: relative;
  bottom: 0;
  height: auto;
  background-position: center;
  background-color: grey;
  width: 100%;
  height: auto;
}
.gtco-testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
  font-weight: bold;
  font-family: "Permanent Marker", cursive;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5rem;
}

.owl-carousel {
  position: relative;
}
.owl-stage-outer {
  padding: 30px 0;
}

.owl-nav {
  display: none;
}

.owl-dots {
  position: relative;
  left: 50%;
}
.owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid slategray;
  margin: 0 5px;
  margin-bottom: 100px;
}

.owl-dots .active {
  box-shadow: none;
}
.owl-dots .active span {
  background: blue;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: 100px;
}

.owl-carousel {
  margin-right: auto;
  margin-left: auto;
}
.card {
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
  width: 75%;

  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
}

.card h5 {
  color: #555;
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: bold;
}

.card p {
  font-size: 18px;
  color: rgb(3, 3, 126);
  padding-bottom: 15px;
  font-weight: bold;
}

.active {
  opacity: 0.2;
  transition: all 0.3s;
}

.center {
  opacity: 1;
}
.center h5 {
  font-size: 24px;
}
.center span {
  font-size: 20px;
}

.card-img-top {
  max-width: 100%;
  height: 175px;
  width: 175px;
}

/* contact page */
#contact-info {
  text-align: center;

  background-color: rgba(128, 128, 128, 0.7);
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1em;
  color: blue;
  border-radius: 30px;
  margin-top: 300px;
  margin-bottom: 300px;
}

#contact-info h2 {
  font-size: 2em;
  font-family: "Permanent Marker", cursive;
}

#contact-info p {
  font-size: 1.5em;
  font-family: "Permanent Marker", cursive;
}

#contact-info a {
  font-size: 2.5em;
  text-decoration: none;
  margin-right: 1em;
}

.fa-instagram-square {
  color: purple;
}
/* Navigation Menu */
.topnav {
  overflow: hidden;
  background-image: linear-gradient(45deg, white, slategray);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks-2 {
  display: none;
}

.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: "Permanent Marker", cursive;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 25px;
}

/* Add a grey background color on mouse-over */

/* Style the active link (or home/logo) */
#logo {
  color: black;
  font-family: "Permanent Marker", cursive;
}

#nav-bar {
  position: absolute;
  top: 0;
}
#static-nav-bar {
  opacity: 1;
  position: absolute;
  top: 0;
}

#static-nav-bar-two {
  position: fixed;
  top: 0;
}

/* Price Page */
#price-list {
  position: relative;
  height: 100%;
  background-image: url("image3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 50px;
  background-color: black;
}

#price-info {
  text-align: center;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  font-family: "Permanent Marker", cursive;
  background-color: rgba(184, 184, 184, 0.95);
  color: black;
  display: flex;
  flex-direction: column;
  line-height: normal;
  border-radius: 30px;
}

#price-body {
  padding-top: 100px;
}
#price-bottom {
  color: blue;
}

#price-info h3 {
  text-align: left;
  margin-left: 100px;
}

#price-info h4 {
  text-align: left;
  margin-left: 150px;
}

.btn {
  width: 5%;
  border-radius: 50%;
  position: relative;
  left: 25%;
  animation: pulse 1s linear infinite;
  background-color: blue;
  color: white;
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
}

.price h2,
button {
  display: inline-block;
}

.modal {
  background-color: rgba(128, 128, 128, 0.459);
}

.modal-content {
  background-color: slategrey;
}

#modal-content {
  background-color: white;
}
.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-header h5 {
  margin-left: auto;
  font-family: "Permanent Marker", cursive;
  color: blue;
}
.modal-body {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  line-height: 2;
}

#btn {
  background-color: white;
  color: black;
  border-radius: 0%;
  width: 20%;
  position: relative;
  left: -2%;
  margin-top: 10px;
  animation: none;
}
/* Contact Page */

#FAQ {
  width: 75%;
  font-family: "Permanent Marker", cursive;
  background-color: rgba(128, 128, 128, 0.7);
  color: black;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  margin-top: 75px;
  border-radius: 30px;
}

.faq-container {
  background: url("image3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
}

#FAQ h1 {
  text-align: center;
}

#FAQ p {
  margin-left: 3%;
  margin-right: 3%;
}

.quest {
  font-weight: bold;
  color: blue;
}

/* Shop Page */

#shop {
  background-color: black;
}
#top-shop {
  background-image: url("image3.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 4.5%;
  width: 100%;
  height: 10%;
}

#top-shop h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: white;
  margin-top: 5%;
}

.shop-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  border: solid 10px white;
  background-color: slategray;
  width: 100%;
  height: auto;
  padding-top: 15%;
  padding-bottom: 20%;
  margin-top: 20%;
}

.shop-item-title {
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
  text-align: center;
  margin-top: -10%;
}

.shop-item-price {
  font-family: "Permanent Marker", cursive;
  color: blue;
  font-size: 1.5em;
  margin-left: 45%;
}

.shop-item img {
  margin-right: auto;
  margin-left: auto;
}
.shop-item select {
  width: 100%;
  font-size: 0.75em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.shop-item-details form {
  position: absolute;
  text-align: center;
  left: 45%;
}

.shop-item input {
  width: 100%;
  margin-top: 0.5em;
  margin-right: auto;
  margin-left: auto;
}
#add-cart {
  width: 75%;
  background-image: linear-gradient(45deg, green, white, green);
  font-family: "Permanent Marker", cursive;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0%;
  color: black;
  animation: none;
}

.shopping-cart {
  position: absolute;
  left: 62%;
  top: 45%;
  width: 100%;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.pic-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: -1%;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.pic-modal-content {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}
.pic-modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.pic-close {
  position: absolute;
  right: 25%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.pic-close:hover,
.pic-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: slategrey;
}

#modal-content {
  background-color: white;
}
.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-header h5 {
  margin-left: auto;
  font-family: "Permanent Marker", cursive;
  color: blue;
}
.modal-body {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  line-height: 2;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: right;
  margin-top: 10px;
  margin-right: 50px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
  border-radius: 10px;
  background-color: green;
}

#paypal-payment-button {
  width: 50%;
  position: relative;
  left: 15%;
}

.owl-carousel {
  outline: 0;
}
.owl-nav button {
  outline: 0;
}
.owl-next,
.owl-prev {
  outline: 0;
}

button.owl-dot {
  outline: 0;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Animation and Media Queries */

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}
